html, body, .content {
  height: 100%;
}

body {
  background: #000;
  background-image: url(./assets/bg.gif);
  background-size: cover;
  background-position: center;
  overflow-x:hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: normal;
  color: #e6f7ff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: inherit;
  outline: none;
}

.content {
  background: rgba(0,0,20,.4);
}

.btn {
  padding: 2px 16px;
  font-size: 18px;
  border: solid 1px #e6f7ff;
}
